body{
   background-color: hsl(275, 100%, 97%);
   margin: 0;
   padding: 0;
   position: relative;
   font-family: "Work Sans", serif;
}

.bg-img{
    width: 100%;
}

.accordion-container{
    width: auto;
    border-radius: 10px;
    height: auto;
    margin: 0 10px;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 10em;
}

.accordion-card  , hr{
    margin: 2em;
}

hr {
    color: hsl(292, 16%, 49%);
}
.accordion-card  .question{
    width: 58%;
    color: hsl(292, 42%, 14%);
}

.question:hover{
    cursor:poi;
}




main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-title{
    display: flex;
    padding-left: 2em;
    padding-top: 1em;

}
.card-title h1{
    padding-left: .5em;
    color: hsl(292, 42%, 14%);


}

.answer{
    display: none;
    color: hsl(292, 16%, 49%);
    width: 75%;
    font-size: 1.11rem;
    

}

.a-header{
    display: flex;
    justify-content: space-between;
}

.show{
    display:block;
}

.minus-icon{
    display: none;
}

